#greetings{
    font-family: monospace;
    size: 100px;
}
#Counter{
    display: block;
    text-align: center;
    font-size: 100px;
    font-family: monospace;
}
#name{
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}
#operations{
    align-items: center;
}

.operationButtons{
    padding: 10px 20px;
    font-size: 1.5em;
    border: none;
    font-family: monospace;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}

.operationButtons:hover{
    background-color: darkslateblue;
}